*,
::before,
::after {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	height: 100vh;
}

main {
	display: block;
}

p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

button,
input {
	-webkit-appearance: none;
	appearance: none;
	vertical-align: middle;
	font: inherit;
	color: inherit;
	background: transparent;
	padding: 0;
	margin: 0;
	outline: 0;
	border-radius: 0;
	overflow: visible;
}

button {
	cursor: pointer;
	text-transform: none;
}

button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

label[for] {
	cursor: pointer;
}
