/* light mode style */
body {
	font-size: 0.875rem;
	font-family: 'Nunito Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: 'wdth' 100, 'YTLC' 500;
	color: hsl(200, 15%, 8%);
	background-color: hsl(0, 0%, 98%);
}
header,
.search-bar,
.region-selector,
.region-options,
.country,
.home-btn,
.border-country button {
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 0 3px 1px #e8e8e8;
}
input#search:-internal-autofill-selected {
	background-color: #fff;
}
#search::placeholder {
	color: hsl(0, 0%, 52%);
}

/* dark mode style */
body.dark {
	background-color: hsl(207, 26%, 17%);
}
body.dark,
body.dark #search::placeholder {
	color: hsl(0, 0%, 100%);
}
body.dark header,
body.dark .search-bar,
body.dark .region-selector,
body.dark .region-options,
body.dark .country,
body.dark .home-btn,
body.dark .border-country span {
	background-color: hsl(209, 23%, 22%);
	box-shadow: none;
}
body.dark .flag {
	box-shadow: none;
}

/* display */
.hidden {
	display: none;
}

/* header */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem;
}
.navbar > a {
	font-weight: 600;
}
.navbar i {
	margin-right: 0.2rem;
}

/* search & filter */
main {
	padding: 1.2rem 1.5rem;
}
.filter-switch {
	position: relative;
	width: 60%;
}
.search-bar {
	display: flex;
	margin-bottom: 2rem;
}
.search-bar {
	display: flex;
	padding: 0 1.6rem;
}
.search-bar,
.region-selector,
.region-options {
	border-radius: 6px;
}
.search-bar label {
	margin-right: 1.5rem;
}
.search-bar,
#search,
.region-selector {
	width: 100%;
}
.search-bar label,
#search {
	padding: 0.8rem 0;
}
.region-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 1.6rem;
}
.country,
.region-selector,
.region-options {
	cursor: pointer;
}
.region-options {
	position: absolute;
	top: 110%;
	left: 0;

	width: 100%;
}
.option {
	margin: 1rem 1.6rem;
}

/* country card */
.cards-container .country {
	margin: 2rem 1.6rem;
	border-radius: 8px;
	overflow: hidden;
}
.flag {
	width: 100%;
	height: auto;
	box-shadow: 0 1px 5px 1px #f7f7f7;
}
.country-title {
	padding: 1.5rem 1.5rem 0;
}
.country-title,
.title {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-weight: 800;
}
.title {
	margin-top: 2rem;
}
.country-content {
	padding: 0 1.5rem 1.5rem;
}
.country-content p {
	margin: 0 0 0.6rem;
	font-weight: 600;
}

/* detail */
.detail p {
	margin: 0 0 1rem;
	font-weight: 600;
}
.country-content span,
.detail span {
	font-weight: 300;
}
.location,
.cultural,
.border-country {
	margin-top: 2rem;
}
.home-btn {
	margin: 1rem 0 2rem;
}
.home-btn i {
	margin-right: 0.5rem;
}
.home-btn,
.border-country .country {
	display: inline-block;
	padding: 0.5rem 1.5rem;
	border-radius: 3px;
}
.border-country {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.border-country > p {
	margin: 0;
	width: 100%;
}

/* footer */
footer {
	margin-top: 1.2rem;
	margin-bottom: 0;
	text-align: center;
}

@media (min-width: 768px) {
	/* country card */
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
}

@media (min-width: 1024px) {
	/* header */
	.navbar {
		padding: 1.5rem 3rem;
	}

	/* search & filter */
	main {
		padding: 2rem 3rem 1.2rem;
	}
	.tool-section {
		display: flex;
		gap: 1rem;
	}
	.search-bar {
		margin-right: auto;
		width: 40%;
	}
	.filter-switch {
		width: 20%;
	}

	/* detail */
	.country-detail {
		display: flex;
		justify-content: space-between;
	}
	.country-detail .flag {
		width: 40%;
		height: auto;
	}

	.country-description {
		display: grid;
		gap: 1.4rem;
		grid-template-columns: repeat(2, minmax(10px, auto));
		grid-template-rows: repeat(3, minmax(10px, auto));
		width: 50%;
	}

	.detail .title {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.detail .location {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.detail .cultural {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.detail .border-country {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}

	.title,
	.location,
	.cultural,
	.border-country {
		margin: 0;
	}

	.border-country {
		display: flex;
		align-items: center;
	}
	.border-country p {
		width: auto;
	}
	/* footer */
	footer {
		margin-top: 1.8rem;
	}
}
